.section--intro {
  padding-top: 20vh;
  article {
    position: relative;
    width: 50%;
  }
  article.intro-text {
    color: #000;
    h1 {
      font-size: 2.5em;
      margin-bottom: 1em;
    }
    h2 {
      width: 100%;
      z-index: 1;
      font-size: 2em;
      line-height: 2em;
      font-weight: 400;
      span {
        display: inline-block;
      }
      .sub-text {
        font-size: 0.8em;
      }
    }
    .text-in-out-items {
      display: inline-block;
      height: 1em;
      font-weight: 600;
      span {
        position: absolute;
        opacity: 0;
        transition: all 0.5s;
        &.active {
          opacity: 1;
        }
      }
    }
  }
}
@include mobile-lg {
  .section--intro {
    article.intro-text {
      width: 100%;
      h1 {
        font-size: 2.2em;
      }
      h2 {
        font-size: 1.8em;
      }
    }
  }
}
@include mobile-sm {
  .section--intro {
    padding: 12vh 0 5vh 0;
    article.intro-text {
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.6em;
      }
    }
  }
}