.section--project {
  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  article::after {
    content: "";
    max-width: calc(33% - 1em);
    flex: auto;
  }
  .project--wrapper {
    width: calc(33.3% - 1em);
    height: 240px;
    float: left;
    margin: 1.5em 0;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.35em;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.325s cubic-bezier(0.1, 0.05, 0.075, 0.1);
    .project {
      width: 100%;
      height: 100%;
      opacity: 0;
      padding: 1.5em;
      border-radius: inherit;
      position: absolute;
      color: #fff;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      transform: translateX(-50%);
      h2 {
        font-size: 1.2em;
        margin-bottom: 0.5em;
      }
      p {
        color: #ddd;
        font-weight: 200;
      }
      a {
        width: calc(33.3% - 10px);
        text-align: center;
        float: left;
        position: relative;
        margin-top: 50px;
        background: #000;
        border-radius: 0.25em;
        padding: 1em 0;
        margin-right: 10px;
        opacity: 0.8;
        font-style: unset;
        &:hover {
          opacity: 1;
        }
      }
    }
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.03;
      pointer-events: none;
      transition: opacity 0.3s cubic-bezier(0.1, 0.1, 0.05, 0.05);
      border-radius: 0.35em;
    }
    &:hover {
      background-size: 103%;
      &:before {
        opacity: 0.75;
      }
      .project {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
@include tablet {
  .section--project {
    .project--wrapper {
      width: calc(50% - 1rem);
    }
    article {
      &:after {
        display: none;
      }
    }
  }
}
@include mobile-sm {
  .section--project {
    .project--wrapper {
      width: 100%;
      height: 30vh;
      background-position-y: 0;
    }
  }
}