.section--skills {
  .skill-type {
    h3 {
      margin-bottom: 1.5em;
      color: #777;
    }
    .skill-icons {
      margin: 2em 0;
      padding-bottom: 1.5em;
      border-bottom: 1px solid #eee;
    }
    .skill-icons img {
      width: 64px;
      margin-right: 2.2vw;
    }
  }
}
@include tablet {
  .section--skills {
    .skill-type .skill-icons img {
      width: 50px;
      margin-right: 2.2vw;
      margin-bottom: 1.1vh;
    }
  }
}