.dark--img {
  display: none;
}
body {
  transition-property: color, background-color, border-color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.05, 0.05, 0.1, 0.3);
}
body.dark {
  background-color: #222;
  color: #eee;
  * {
    color: #eee;
  }
  nav ul {
    * {
      background-color: #000;
    }
  }
  .dark--img {
    display: inline;
  }
  .day--img {
    display: none;
  }
  section {
    .title {
      border-color: #ccc;
      &:before {
        background: #fff;
      }
    }
  }
  .section--project .project--wrapper {
    &:hover {
      background: #222 !important;
    }
    .project a {
      background: #fff;
      color: #000;
    }
  }
  .section--timeline {
    .item {
      &:after {
        border-right-color: #222;
      }
      .date {
        background-color: #222;
        &:after {
          background-color: #333;
        }
      }
      .date:not(.now) span {
        background-color: #666;
      }
    }
  }
  .section--skills .skill-type {
    h3 {
      color: #bbb;
    }
    .skill-icons {
      img {
        background: #f2f2f2;
        border-radius: 8%;
        padding: 0.25rem;
      }
    }
  }
  aside {
    background-color: transparent;
    .sun {
      top: 35vh;
      opacity: 0;
      pointer-events: none;
      transition: all 0.35s cubic-bezier(0.05, 0.05, 0.1, 0.3);
      transition-delay: 0s;
    }
    .moon {
      top: 0;
      opacity: 0.85;
      transition-delay: 0.25s;
      display: block;
      background-color: #ffcc00;
      pointer-events: initial;
      &:hover {
        opacity: 1;
      }
      &:before {
        opacity: 1;
        background: #222;
      }
    }
  }
}
@include mobile-lg {
  body.dark .section--timeline .item:after {
    border-color: transparent;
    border-bottom-color: #222;
  }
}
