section {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 8vh 20px;
  .title {
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    text-align: left;
    position: relative;
    border-bottom: 1px solid #333;
    &:before {
      width: 5px;
      height: 15px;
      right: 0px;
      background: $point-color;
      position: absolute;
      content: "";
      bottom: 0;
      transition: all linear 1s;
      border-radius: 5px;
    }
  }
  .title__sub-text {
    margin-top: -1rem;
    margin-bottom: 2.5rem;
    font-size: 1.1rem;
  }
}
body {
  margin-bottom: 10vh;
}
.hidden {
  display: none;
}
@include mobile-lg {
  section {
    padding: 5vh 10px;
  }
}

@import "./section/intro";
@import "./section/timeline";
@import "./section/skills";
@import "./section/project";
@import "./section/contact";
@import "./section/aside";

